@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-black text-white antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }
  
  .glass-btn {
    @apply bg-white/10 hover:bg-white/20 active:bg-white/5 transition-all duration-200 border border-white/10;
  }
}
